<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LazabeeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lazabee"
        android:usesCleartextTraffic="true">
        
        <!-- Login Activity - Launcher -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Lazabee.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee" />

        <!-- Auth Activities -->
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.VerifyCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.CreateNewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <!-- Other Activities -->
        <activity 
            android:name=".ProductFullActivity"
            android:exported="false" />
            
        <activity
            android:name=".view.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <!-- Phase 1 - Shopping Flow Activities -->
        <activity
            android:name=".view.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee" />
            
        <activity
            android:name=".view.CheckoutActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.OrderSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.OrderHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
            
        <activity
            android:name=".view.OrderDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.AddressManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.AddAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <!-- Admin Activities -->
        <activity
            android:name=".view.AdminHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.AdminProductListActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.AdminProductEditActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.AdminOrderListActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />

        <activity
            android:name=".view.AdminOrderDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Lazabee.NoActionBar" />
    </application>

</manifest>